html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
ul, li {
    padding: 0;
    list-style-type: none;
}

/* hide the sign in, sign up, and forgot password froms for now */
#signon-form, #signup-form, #forgotpwd-form {
    display: none;
}

#listing_form, #offer_form,
#gt_rural_form, #gt_residential_form, #gt_multifamily_form,
#gt_lots_form, #gt_farm_form, #gt_commercial_form,
#lv_farm_form, #lv_land_form, #lv_commercial_form,
#lv_multifamily_form, #lv_residential_form {
    display: none;
}

/* page grid layout */
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 15px;
}
.page-header {
    grid-column: span 2;
    align-content: space-around;
    background-color: #555;
    color: #fff;
    padding: 8px 0px;
    text-align: center;
    border-bottom: 1px solid #000;
}
.right-menu {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px 15px;
    float: right;
}
.right-menu button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #555;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content label {
    display: block;
    width: 100%;
    font-weight: bold;
    padding: 14px;
}
.dropdown-content li {
    width: 100%;
    padding: 16px;
    text-align: left;
    color: #000;
    background-color: #fff;
}
.dropdown-content li:hover { background-color: #ddd; }
/*.dropdown:hover .dropdown-content { display: block; } */
.dropdown:hover .dropbtn { background-color: #3e8e41; }

.page-header img, h2, nav {
    display: inline;
    vertical-align: middle;
}
.page-footer {
    grid-column: span 2;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-top: 1px solid #000;
}
.left-panel {
    padding: 15px;
    border-right: 1px solid #000;
}
.left-panel li {
    text-decoration: underline;
    cursor: pointer;
}
.main-panel {
    padding: 15px;
}

/* responsive layouts */
@media screen and (max-width: 980px) {
    .left-panel, .main-panel {
        grid-column: span 2;
    }
    .left-panel {
        display: none;
    }
}

/* responsive forms */
.frm > div > label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

.frm input[type="text"],
input[type="email"],
input[type="password"],
select, textarea {
    width: calc(100% - 12px); /* Adjust for padding and border */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding and border are inside the element's width */
    font-size: 16px;
}
.frm input[type="date"],
input[type="tel"],
input[type="number"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding and border are inside the element's width */
    font-size: 16px;
}

.frm button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.frm button:hover {
    background-color: #0056b3;
}

.text-right {
    text-align: right;
}

/* Report responsive section layout */
.header-title {
    display: flex;
    align-items: center;
}
.block-title {
    display: inline-block;
    padding: 20px 60px;
    background-color: #424cd3;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}
.red_asterisk {
    color: red;
}

.section-container {
    display: block;
}
.section-container-3col {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.section-title {
    grid-column: span 3;
    background-color: #999ddb;
    padding: 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.section-info {
    padding: 15px;
}
.section-footer {
    grid-column: span 3;
    padding: 15px;
}
.section-inline-block {
    display: inline-block;
    padding: 15px;
}
.section-block {
    display: block;
    padding: 15px;
}
.b-full {
    border: 1px solid #000;
}
.b-top {
    border-top: 1px solid #000;
}
.b-bot {
    border-bottom: 1px solid #000;
}
.b-left {
    border-left: 1px solid #000;
}
.b-right {
    border-right: 1px solid #000;
}

/* Report Form controls */
.rpt textarea {
    width: calc(100% - 12px); /* Adjust for padding and border */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding and border are inside the element's width */
    font-size: 16px;
}
.rpt input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"] {
    width: calc(75% - 12px); /* Adjust for padding and border */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding and border are inside the element's width */
    font-size: 16px;
}

.rpt input[type="date"],
input[type="tel"],
input[type="number"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding and border are inside the element's width */
    font-size: 16px;
}

.rpt button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.rpt button:hover {
    background-color: #0056b3;
}
