<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invoice</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" media="print" href="invoice-print.css?b">
  <link rel="stylesheet" media="screen" href="invoice-screen.css?2">
  <link rel="shortcut icon" href="favicon.png" type="image/png">
</head>
<body>
  <div id="invoice-app">
    <div id="selection">
      <select v-model="selectedproperty" required>
        <option v-for="p in properties" v-bind:value="p">{{p.name}}</option>
      </select>&nbsp;&nbsp;
      <input type="checkbox" id="pastFee" v-model="selectedproperty.pastFee">&nbsp;
      <label for="lateFee">Show paid fee</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="checkbox" id="lateFee" v-model="selectedproperty.addLateFee">&nbsp;
      <label for="lateFee">Add late fee</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label v-if="selectedproperty.addLateFee" for="feeAmount">Amount:</label>
      <input v-if="selectedproperty.addLateFee" type="number" id="feeAmount" v-model="selectedproperty.paidLateFee">  
    </div>
    <div class="invoice-page">
      <div class="invoice-header">
        <div>
          <span class="company-name">{{ company.name }}</span>
          {{ company.address }}
          <br>{{ company.cityStateZip }}
        </div>
        <div>
          Rent Invoice: {{ invoiceNumber(selectedproperty.id) }}
          <br>Phone: {{ company.phone }}
          <br>Email: {{ company.email }}
        </div>
      </div>
      <div class="tenant-address">
        <div>
          {{ selectedproperty.tenant }}
          <br>{{ selectedproperty.address }}
          <br>{{ selectedproperty.cityStateZip }}
        </div>
        <div>
          Invoice Date: {{ invoiceDate() }}
        </div>
      </div>
      <div class="payment-info">
        <table class="payment-detail">
          <thead>
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Amount</th> 
            </tr>
          </thead>
          <tbody v-if="selectedproperty.addLateFee">
            <tr>
              <td class="center-align">{{ lastpaidDate(selectedproperty.dueOn) }}</td>
              <td>{{ lastMonth() }} rent due</td>
              <td class="right-align">${{ selectedproperty.amount }}</td>
            </tr>
            <tr>
              <td class="center-align">{{ lastpaidDate(selectedproperty.dueOn) }}</td>
              <td>{{ lastMonth() }} late fee</td>
              <td class="right-align">${{ selectedproperty.paidLateFee }}</td>
            </tr>
            <tr>
              <td class="center-align">{{ dueDate(selectedproperty.dueOn) }}</td>
              <td>{{ nextMonth() }} rent due</td>
              <td class="right-align">${{ selectedproperty.amount }}</td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td class="center-align">{{ lastpaidDate(selectedproperty.dueOn) }}</td>
              <td>{{ lastMonth() }} rent Paid</td>
              <td class="right-align">-${{ selectedproperty.amount }}</td>
            </tr>
            <tr v-if="selectedproperty.pastFee">
              <td class="center-align">{{ lastpaidDate(selectedproperty.dueOn) }}</td>
              <td>{{ lastMonth() }} late fee Paid</td>
              <td class="right-align">-${{ selectedproperty.paidLateFee }}</td>
            </tr>
            <tr>
              <td class="center-align">{{ dueDate(selectedproperty.dueOn) }}</td>
              <td>{{ nextMonth() }} rent due</td>
              <td class="right-align">${{ selectedproperty.amount }}</td>
            </tr>
            <tr v-if="!selectedproperty.pastFee">
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
          <tfoot v-if="selectedproperty.addLateFee">
            <tr>
              <th colspan="2" class="right-align">Balance due</th>
              <th class="right-align">${{ selectedproperty.amount + selectedproperty.amount + parseFloat(selectedproperty.paidLateFee) }}</th>
            </tr>
          </tfoot>
          <tfoot v-else>
            <tr>
              <th colspan="2" class="right-align">Balance due</th>
              <th class="right-align">${{ selectedproperty.amount }}</th>
            </tr>
          </tfoot>
        </table>
        <div class="mail-to-info">
          Thank You for your business
          <br>Do not send cash or post-dated checks. All checks will be processed upon receipt.
          <br>Make checks payable to RADI Investments, LLC<br>
          <br>payment options: money order, personal check, cashier&rsquo;s check, wire transfer, Cash App: $whitakerandy, Zelle
          <br>Also you can deposit your payment into VeraBank Account Number 1011303295 make check payable to Randy Whitaker
          <br>When mailing please return the portion below with your payment to the address below.
          <hr>
        </div>
        <div class="invoice-return">
          <div>
            {{ selectedproperty.tenant }}
            <br>{{ selectedproperty.address }}
            <br>{{ selectedproperty.cityStateZip }}
          </div>
          <div>
            <span>DUE DATE: </span><span>{{ dueDate(selectedproperty.dueOn) }}</span>
            <br><span>RENT DUE: </span><span v-if="selectedproperty.addLateFee">${{ selectedproperty.amount + selectedproperty.amount + parseFloat(selectedproperty.paidLateFee) }}</span><span v-else>${{ selectedproperty.amount }}</span>
          </div>
        </div>
        <div class="return-address">
          <span class="company-name">{{ company.name }}</span>
          {{ company.address }}
          <br>{{ company.cityStateZip }}
        </div>  
      </div>
    </div>
  </div>
  <script src="invoice-app.js"></script>
</body>
</html>
