body {font-family: Arial, Helvetica, sans-serif; font-size: 14px; }
#invoice-app { width: 800px; margin: 0px auto; }
.company-name { display: block; font-size: 20px; font-weight: bolder; }
.invoice-page { width: 800px; margin: 0px auto; }
.invoice-header {
  background-color: rgb(196, 216, 250);
  margin: 25px auto 75px auto;
  padding: 10px;
  display : flex;
  justify-content: space-between;
}
.tenant-address {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
}
.payment-info {
  margin: 100px auto 100px auto;
}
.payment-detail { width: 100%; border-collapse: collapse; }
.payment-detail th { border: 1px solid #000; padding: 5px 10px; }
.payment-detail td { border: 1px solid #000; padding: 5px 10px; }
.right-align { text-align: right; width: 10%; }
.center-align { text-align: center; width: 10%; }
.mail-to-info { margin: 100px auto 100px auto; text-align: center; }
.invoice-return {
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}
.invoice-return span { display: inline-block; width: 100px; text-align: right; }
.return-address { margin: 0px 0px 100px 0px; }
